

h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 3.4em;

	&.page-title {
		font-family: $serifFontFamily;
		font-size: 2.2em;
	}
}

h2 {
	font-family: $serifFontFamily;
	font-weight: normal;
	font-style: italic;
}

h3 {
	text-transform: uppercase;
	font-size: 2.1em;
}

h4 {
	font-size: 1.7em;
}

h5 {
	text-transform: uppercase;
	font-size: 1.2em;
}

.content {

	margin-top: 2em;
	margin-bottom: 2em;

	li {
		list-style-image: url(layout/list_bullet.png);
	}

	.well li {
		list-style-image: url(layout/list_bullet_dark.png);
	}

}

aside {

	header {
		h3 {
			font-family: $serifFontFamily;
			font-weight: normal;
			font-style: italic;
			font-size: 1.4em;
			text-transform: capitalize;
			text-align: center;
			background: url("layout/aside_header_shadow.png") no-repeat center 40px;
			padding-bottom: 40px;
		}
	}

	blockquote {
		padding: 8px 0 0 18px;
		background: url("layout/open_quotes.png") no-repeat left top;
		font-family: $serifFontFamily;

		small {
			margin-top: 1em;
			font-family: $sansFontFamily;
			color: $textColor;
			font-size: 1.1em;
			text-transform: uppercase;	
		}
	}
}