table {

	.soft {
		line-height: 0px;
		margin-bottom: 18px;
	}
}

.table {

	td {
		padding: 24px 0px;
	}

	th {
		padding: 8px 0px;
		text-transform: uppercase;
	}
}


.remove-cart-item {
	display: block;
	width: 30px;
	height: 30px;
	border: 0px;
	background: url(layout/cart-close.png) no-repeat left top;
}