#featured-spotlight {

	padding-bottom: 32px;
	margin-bottom: 30px;
	background: url(layout/featured-spotlight-bg.png) no-repeat center bottom;

	img {
		margin-bottom: 1em;
	}

	a.btn {
		margin-top: 1em;
	}
}