
header#main-header {


	background: url("layout/header_bg.png") repeat-x left top;
	height: 131px;

	.bg-glow {
		height: 131px;
		background: url("layout/bg-glow.png") no-repeat -12px 0px;
	}

	.logo {
		padding-top: 24px;
		padding-left: 10px;
	}

	#top-right-menu {

		margin-top: 1em;

		a {
			font-family: $serifFontFamily;
			font-style: italic;
			color: #cbb79b;

			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}

		.search-query {
			background-color: #67573e;
			color: #fff;
			font-family: $serifFontFamily;
			font-style: italic;

			&::-webkit-input-placeholder {
				color: #fff;
			}
		}
	}

	#main-nav-menu {

		margin-top: 1.9em;

		ul {

			&:after {
				content: ""; 
				clear: both; 
				display: block;
			}

			li {
				padding-left: 10px;

				a {
					display: block;
					text-transform: uppercase;
					color: #84776d;
					padding-bottom: 11px;

					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}

				.hover-menu-panels {
					padding-bottom: 1em;
					position: absolute;
					z-index: 999999999;
					top: 131px;
					left: 0px;
					width: 100%;
					display: none;
					
					background-color: rgb(40, 30, 22);
					background-color: rgba(40, 30, 22, .9);

					header {
						h5 {
							color: #e0d7cd;
							font-family: $serifFontFamily;
							font-style: italic;
							font-weight: normal;
							text-transform: capitalize;
							font-size: 1.1em;
							border-bottom: 1px solid #84776d;
							padding-bottom: 0.3em;
						}
					}

					a {
						color: $white;
					}
				}

				&:hover {
					.hover-menu-panels { display: block; }
				}
			}
		}
	}
}
