.recently-viewed {
	background: url(layout/bot-shadow.png) no-repeat center top;
	padding-top: 51px;
	margin-top: -51px;
	.carousel-inner {

		.item {
			padding-left: 5em;
			a {
				margin-left: 2em;
			}
		}
	}

	.carousel-control {
		position: absolute;
		top: 48%;
		left: 15px;
		width: 21px;
		height: 56px;
		margin-top: -20px;
		font-size: 60px;
		font-weight: 100;
		line-height: 30px;
		color: transparent;
		text-align: center;
		background: url(layout/carousel_left_arrow.png) no-repeat left top;
		border: 0px;

		// Reposition the right one
		&.right {
		left: auto;
		right: 15px;
		background: url(layout/carousel_right_arrow.png) no-repeat left top;
		}

		// Hover/focus state
		&:hover,
		&:focus {
			color: transparent;
			text-decoration: none;
			@include opacity(90);
		}
	}
}